@page "/portal"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "admin")]

<h3>Admin Portal</h3>

<a class="btn btn-outline-primary" href="portal/manage/sets">Sets beheren</a>

@code {

}
